<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="profile">
        <div class="profile-bg">
            <img src="../../assets/profileimg.jpg" alt="">
        </div>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span>I am
        </span><br>
        <span>Akash Pawar</span><br>
        <span>Software Developer</span>
    </div>

</div>

<div class="container1">
    <div style="width: 50%;">
        <div class="title">
            <span>My Portfolio</span>
        </div>
        <div class="name">
            <span>
                <span>Hi,</span>I am
            </span><br>
            <span>Akash Pawar</span><br>
            <span>Software Developer</span>
        </div>
    </div>

    <div class="profile">
        <div class="profile-bg">
            <img src="../../assets/profileimg.jpg" alt="">
        </div>
    </div>
</div>