:host {
    display: block;
    /* background-color: black; */
}

/* :host .pc .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

@media(min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}